body{
    background-color: #1A191A;
    
}
.back{
    background-color: #1A191A;
}

.navbar-brand{
    margin-left: 3em;
}
.pads{
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1A191A;
}
.pad6{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1A191A;
}
.mar{
  margin: auto;
}
.tcolor{
  color: #FF6333;
}
.head{
  color: #FF6333;
  text-align: center;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link:hover{
    color: #FF6333;
}
.center{
    align-items: center;
    align-self: center;
    text-align: center;
}
.img-right{
    text-align: right;
}
.tagline{
    color: white;
    font-size: 60px;
    font-style: italic;
}

.img-center{
    text-align: center;
}
.row-padding{
    padding-top: 30px;
}
.list{
    color: white;
}
.list-unstyled{
    padding: 15px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content{
    text-align: left;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  /* height: 45px; */
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #ec1e1e;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  padding: 3px;
  border-radius: 10px;
}
.right form .btn button:hover{
  background: #5c0707;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

.shadow-custom{
    box-shadow: 8px 3px 3px red;
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}